@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-customBlue: #56c2cf;
  --color-customGray: #e9e9eb;
  --color-customBlack: #34343c;
  --color-customDarkGray: #818183;
  --color-customDarkerGray: #8d949c;
  --font-montserrat: "Montserrat", sans-serif;
}